
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
}

.sky {
    background: linear-gradient(#87CEEB, #1E90FF); /* sky */
    width: 100%;
    height: 50%;
}

.sea {
    background: linear-gradient(#1E90FF, #87CEEB); /* sea */
    width: 100%;
    height: 50%;
}

.island {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grass {
    background-color: #8B4513; /* brown */
    width: 500px;
    height: 100px;
    border-radius: 50% / 70% 70% 30% 30%;
}

.tree {
    background-color: #8B4513; /* brown */
    width: 20px;
    height: 110px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.tree::before,
.tree::after {
    content: '';
    background-color: #008000; /* dark green */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tree::before {
    bottom: 130%;
}
.grass1 {
    background-color: #8B4513; /* brown */
    width: 300px;
    height: 100px;
    border-radius: 50% / 70% 70% 30% 30%;
}

.tree1 {
    background-color: #8B4513; /* brown */
    width: 20px;
    height: 50px;
    position: absolute;
    bottom: 40%;
    left: 20%;
    transform: translateX(-50%);
}

.tree1::before,
.tree1::after {
    content: '';
    background-color: #008000; /* dark green */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 90%;
    left: 10%;
    transform: translateX(-50%);
}

.tree1::before {
    bottom: 130%;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.cloud {
    width: 120px;
    height: 60px;
    background-color: #FFFFFF; /* white */
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 10%;
    animation: moveCloud 10s linear infinite alternate;
}

/* .bird {
    width: 30px;
    height: 20px;
    background-color: #000000; /* black 
    position: fixed;
    top: 20%;
    left: 80%;
    animation: flyBird 5s linear infinite alternate;
} */

.bird {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #000000; /* black */
    position: fixed;
    top: 20%;
    left: 80%;
    animation: flyBird 5s linear infinite alternate;
}

@keyframes moveCloud {
    0% { left: 10%; }
    100% { left: 90%; }
}

@keyframes flyBird {
    0% { top: 20%; }
    100% { top: 40%; }
}

